* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* clear */
.clear:before,.clear:after { content:' '; display:table; }
.clear:after { clear:both; }
.clear { *zoom:1;}

:root {
  --white: #fff;
  --noir: #000000;
  --noirclair: #4C4C4C;
  --vert: #2DC46A;
  --bleu: #1B6CA5;

}
ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', serif;
  font-size: 17px;
  line-height: 21px;
  overflow-x: hidden;
}


.wrap {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.wrap2 {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 10px;
}

/*HEADER*/

#masthead {
  background: url("../../../asset/img/bghead.svg") no-repeat;
  width: 100vw;
  height: 100vh;
}

#masthead .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#masthead .head nav ul {
  display: flex;
  gap: 1.5rem;
}

#masthead .head nav ul a {
  color: var(--white);

}

#masthead .wrap2 {
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#masthead .wrap2 h1 {
  margin: 2.5rem 0;
  font-size: 2.4rem;
  line-height: 55px;
}

#masthead .wrap2 .buttonHover {
  background: var(--bleu);
  color: var(--white);
  width: 20%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-weight: bold;
  border-radius: 5px;
  transition: transform 0.3s;
}

#masthead .wrap2 .buttonHover:hover {
  transform: translateY(-5px);
}

#masthead .wrap2 p {
  margin: 2.5rem;
}